# === BIG DATASETS (never push) ===
REFUGE/
G1020/
ORIGA/
datasets/
data/

# === LARGE MODEL FILES (too big for GitHub) ===
models/
outputs/
*.pth
*.onnx
*.onnx.data
!glaucoma_unet_fp16.onnx

# Inference outputs (can be regenerated)
inference_outputs/

# Miniconda installer
Miniconda3-latest-Linux-x86_64.sh

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
.ipynb_checkpoints/

# Editor configs
.vscode/
.idea/

web_app/web_model/
